src/main/resources/META-INF/lovlos.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://cc.lovlos.com/lovlos"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://cc.lovlos.com/lovlos">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>
	
    <xsd:element name="setting">
        <xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
				<xsd:group ref="beanElements"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="mappers">
	    <xsd:complexType>  
            <xsd:attribute name="packages" type="xsd:string" />  
        </xsd:complexType>
	</xsd:element>
	<xsd:element name="master">
	    <xsd:complexType>  
            <xsd:attribute name="bean" type="xsd:string" /> 
            <xsd:attribute name="hystrix" type="xsd:string" />  
        </xsd:complexType>
	</xsd:element>
	<xsd:element name="slave">
	    <xsd:complexType>  
            <xsd:attribute name="bean" type="xsd:string" /> 
            <xsd:attribute name="hystrix" type="xsd:string" />  
        </xsd:complexType>
	</xsd:element>
	<xsd:element name="balance">
	    <xsd:complexType>  
            <xsd:attribute name="location" type="xsd:string" /> 
            <xsd:attribute name="count" type="xsd:string" />  
        </xsd:complexType>
	</xsd:element>
	
	<xsd:group name="beanElements">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="mappers"></xsd:element>
				<xsd:element ref="master"></xsd:element>
				<xsd:element ref="slave"></xsd:element>
				<xsd:element ref="balance"></xsd:element>
				<xsd:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:complexType name="identifiedType" abstract="true">
		<xsd:annotation>
		<xsd:documentation>
		<![CDATA[
		The unique identifier for a bean. The scope of the identifier is the enclosing bean factory.
		]]>
		</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="id" type="xsd:string">
		<xsd:annotation>
		<xsd:documentation>
		<![CDATA[
		The unique identifier for a bean. A bean id may not be used more than once within the same <beans> element.
		]]>
		</xsd:documentation>
		</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
</xsd:schema>